@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './typography.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Livelatch Typography */

:root {
    --font-primary: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}